00-devel/
01-pilot-claims/
02-pilot-claims/
03-pilot-claims/
04-pilot-claims/
05-pilot-claims/
20-pilot-stance/
21-pilot-stance/
30-pilot-reasons/
31-pilot-reasons/
40-pilot-reason-gist/
50-pilot-warrants/
51-pilot-warrants/
22-stance-batch-0001-5000
32-reasons-batch-0001-5000-2883args
42-reasons-gist-batch-0001-5000-5119reasons
52-pilot-warrants
53-pilot-warrants
54-pilot-warrants
55-warrants-batch-0001-5000-4294reasons-0001-0600
56-warrants-qualification
60-pilot-reason-disambiguation
61-reason-disambiguation-batch-0001-5000-4294reasons-0060-4294
70-alternative-warrants-batch-0001-5000-4235reasons-001-600
71-alternative-warrants-batch-0001-5000-4235reasons-001-600
72-alternative-warrants-batch-0001-5000-4235reasons-600-1955
80-aw-validation-pilot
81-001-600aw-validation-batch-0050-2390-reason-claim-pairs
82-600-1955aw-validation-batch-5342-reason-claim-pairs
90-original-warrant-pilot
91-original-warrant-batch-0001-5000-batch-0100-0600
92-original-warrant-batch-0001-5000-batch-0600-2613
96-validation-task-batch-0001-5000-full-batch-2447
99-upper-bound
95-validation-task-pilot