<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Warrants</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- annotation script -->
    <script type="text/javascript" src="../javascript/annotation-logic-warrant.js"></script>
    <!-- project-specific CSS -->
    <link rel="stylesheet" href="../css/style.css">


</head>
<body>


<div class="container-fluid full-page">
    <div class="row">
        <div class="col-xs-6 col-md-3 masthead warrant1-background">
            <h2>Select the incorrect claim of an argument and explain why it is incorrect</h2>


            <p>This HIT requires creativity and logical thinking!</p>

            <!--<blockquote>-->
                <!--<strong>This study is currently in a testing phase!</strong> Help us to improve this-->
                <!--HIT by giving us your feedback at the bottom of the page.-->
            <!--</blockquote>-->

            <p>
                <small>
                    Dear Worker, thank you for your interest in our HITs! You are taking part in a
                    large-scale research project conducted by the UKP Lab at the Technische
                    Universität Darmstadt, Germany.
                </small>
            </p>


            <h3>What is an argument?</h3>
            <p>An argument consists of a
                <strong>claim</strong>
                and a <strong>reason</strong>. In the simplest form, an argument can be read as:
                "Reason, therefore Claim" (or "Claim because Reason")
            </p>
            <p>In order to infer the claim from a reason, one needs a "bridge" - reasoning and logic
                that explains why the given reason supports the claim.</p>
            <p>However, in these HITs we are interested in claims that are <strong>not</strong>
                logically implied by the reason. We call them <strong>incorrect claims</strong>
                </p>
            <ul>
                <li>For
                instance, in an argument about taking an umbrella, the incorrect claim would be "We
                shouldn't take the umbrella" given the reason "It's about to start raining").
                </li>
            </ul>

            <h3>Your task: 2 steps</h3>

            <p>You see {{numberOfArguments}} arguments to different topics.</p>
            <p>First, you must select the <strong>incorrect claim</strong> (claim that does not
                logically follow the reason).</p>
            <ul>
                <li>If both claims are possible given the reason, select the claim which is more
                    likely to be incorrect.
                </li>
            </ul>

            <p>Second, write an <strong>explanation why</strong> the incorrect claim does not follow
                the reason.</p>


            <h4>Some examples</h4>

            <button class="btn btn-default" id="ex_toggle_examples">Show/hide examples</button>

            <div id="examples" class="example">

                <p>Argument about whether Marijuana is a gateway drug.</p>
                <p>Reason:
                    <em>Many patients have identified cannabis as an effective and safer alternative
                        to their prescription drugs.</em>
                </p>
                <p>( ) <em>"Marijuana is a gateway drug"</em><br/>
                    (o) <em>"Marijuana is a not gateway drug"</em>
                    (this claim should be selected as the incorrect one)
                </p>
                <p>Explanation: <em>None of these patients are also hardcore drug users.</em>

                <hr/>


                <p>Argument about grading colleges by the governmnet.</p>
                <p>Reason:
                    <em>Rank-ordering colleges isn't necessary, because each would use the same standardized scale.</em>
                </p>
                <p>( ) <em>"Government should not grade colleges"</em><br/>
                    (o) <em>"Government should grade colleges"</em>
                    (this claim should be selected as the incorrect one)
                </p>
                <p>Explanation: <em>Standardized scale is working well.</em>

                <hr/>

                <p>Argument about restaurant reservations for sale.</p>
                <p>Reason:
                    <em>Everyone should pay the same for the same thing.</em>
                </p>
                <p>( ) <em>"Restaurant Reservations Should Not Be for Sale"</em><br/>
                    (o) <em>"Restaurant Reservations Should Be for Sale"</em>
                    (this claim should be selected as the incorrect one)
                </p>
                <p>Explanation: <em>It is ethical that restaurants should offer equal treatment.</em>
            </div>


            <p>
                <small>By accepting this HIT, you agree that your submitted content will be licensed
                    under Creative Commons CC0 (Public Domain) license.
                    <br/>
                    <strong>ATTENTION:</strong> The results will be processed by a state-of-the-art
                    algorithm for detecting unreliable workers and checked manually for quality.
                    Therefore it might take up to 7 days until the HITs are approved. Spammers and
                    obvious very low-quality assignments might get rejected.
                </small>
            </p>

        </div>
        <div class="col-xs-12 col-md-6">


            <form name="mturk_form_name" id="mturk_form" method="post" action="{{mturkURL}}"
                  data-type="reasons">
                <!-- the value will be injected by mturk-required-script.js -->
                <input type="hidden" id="assignmentId" name="assignmentId" value=""/>

                <!-- container for collected annotation results updated by javascript after each interactive action -->
                <input type="hidden" id="collectedAnnotationResults"
                       name="collectedAnnotationResults" value=""/>

                {{#arguments}}
                    <div class="argument-box">
                        <div class="bg-success debate-title">
                            <h4>
                                Debate topic: <strong>{{title}}</strong>
                            </h4>
                            <p>
                                Additional info: {{description}}
                            </p>
                        </div>

                        <div id="{{reasonId}}" class="argument">
                            <p>This is the <strong>reason</strong> given to support an argument:</p>

                            <div class="framed">
                                <p class="provided-reason-text">{{reasonText}}</p>
                            </div>
                            <p>
                                Using your common-sense reasoning, which <strong>claim</strong> is
                                <strong><u>incorrect</u></strong> given the reason?
                            </p>

                            <div id="{{reasonId}}_stance_group">
                                {{#stances}}
                                    <div class="radio">
                                        <label style="margin-right: 10px">
                                            <input type="radio" name="{{reasonId}}_stance_group"
                                                   id="{{reasonId}}_stance_{{stanceValue}}"
                                                   value="{{stanceValue}}"
                                                   data-reasonid="{{reasonId}}">
                                            {{stanceText}}
                                        </label>
                                    </div>
                                {{/stances}}
                            </div>

                            <p>
                                <strong>Why</strong> is the claim
                                <strong>incorrect</strong> given the reason above?
                            </p>

                            <input type="text" class="form-control"
                                   id="{{reasonId}}_opposingStance_warrant"
                                   name="{{reasonId}}_opposingStance_warrant"
                                   placeholder="Write an explanation here..." style="width: 50em;">


                            <!--<div class="sanity-check-box">John Doe argues:</div>-->
                            <!--<div class="framed">-->
                            <!--<p>-->
                            <!--{{opposingStance}}-->
                            <!--<strong>because</strong>-->
                            <!--</p>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<label for="{{reasonId}}_opposingStance_warrant">John thinks that ...</label>-->
                            <!--<textarea class="form-control" rows="3" id="{{reasonId}}_opposingStance_warrant"-->
                            <!--name="{{reasonId}}_opposingStance_warrant"></textarea>-->
                            <!--</div>-->


                            <div class="alert alert-info tooltipbox" role="alert"
                                 style="margin: 2em; display: block;">
                                <span class="glyphicon glyphicon-info-sign"
                                      aria-hidden="true"></span>
                                <span class="tooltipText">A <strong>proper explanation</strong> ...</span>
                                    <ul>
                                        <li>... fills the reasoning gap between the reason and the incorrect claim.</li>
			                            <li>... must relate to the content of the given reason.</li>
                                        <li>... does not simply repeat or rephrases what's already said in the reason.</li>
			                            <li>... is kept short without necessary or distracting information.</li>
			                            <li>... avoids starting with "because" or "the person says" or similar and avoids pronouns if possible.</li>
                                    </ul>
                            </div>

                            <!--<p>If you are sure you can't make any sense out of it, select the following option (in the worst case only):</p>-->

                            <!--<div class="checkbox optional-box">-->
                            <!--<label>-->
                            <!--<input type="checkbox" id="{{reasonId}}_opposingStance_warrant_impossible" name="{{reasonId}}_opposingStance_warrant_impossible" class="implicitStance" data-reasonid="{{reasonId}}">-->
                            <!--"I tried hard, twisted my brain, but can't help myself - it's impossible to make any sense out of this rubbish.."-->
                            <!--</label>-->
                            <!--</div>-->


                            <div class="sanity-check-box">Are you familiar with the topic?</div>
                            <div class="framed">
                                <!--<h4>Are you familiar with the topic?</h4>-->
                                <div id="{{reasonId}}_familiarGroup" class="radio familiarGroup">
                                    <label style="margin-right: 10px">
                                        <input type="radio" name="{{reasonId}}_familiarGroup"
                                               id="{{reasonId}}_familiarGroup_yes" value="yes"
                                               data-reasonid="{{reasonId}}">
                                        I'm rather <strong>familiar</strong> with the topic
                                    </label>
                                    <label style="margin-right: 10px">
                                        <input type="radio" name="{{reasonId}}_familiarGroup"
                                               id="{{reasonId}}_familiarGroup_somewhat"
                                               value="somewhat" data-argumentid="{{reasonId}}">
                                        I'm <strong>somewhat familiar</strong> with the topic
                                    </label>
                                    <label style="margin-right: 10px">
                                        <input type="radio" name="{{reasonId}}_familiarGroup"
                                               id="{{reasonId}}_familiarGroup_no" value="no"
                                               data-reasonid="{{reasonId}}">
                                        I'm rather <strong>unfamiliar</strong> with the topic
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>
                {{/arguments}}

                <div class="feedback" style="margin-bottom: 20px;">

                    <div class="form-group">
                        <label for="feedback">Any constructive feedback on this HIT is much
                            welcome</label>
                        <input type="text" class="form-control" id="feedback"
                               name="feedback"/>
                    </div>

                    <button type="submit" id="submitButton" name="Submit HIT"
                            class="btn btn-primary"
                            disabled="disabled">Submit HIT
                    </button>

                </div>
            </form>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="../javascript/mturk-required-script.js"></script>
</html>